./.DS_Store
.vscode/launch.json

beekeeper-client/node_modules
beekeeper-client/npm-debug.log
beekeeper-client/app/**/*.js
beekeeper-client/app/**/*.js.map

beekeeper-server/routes/config.js
beekeeper-server/node_modules