<div>
	<p>Number: </p>
	<p>Location: </p>
	<p>Description: </p>
	<p>Source: </p>
	<p>StartDate: </p>
	<p>Lost: </p>
	<p>Beutenform: </p>
	<p>Beutenmaterial: </p>
	<p>Wabenbau</p>
</div>
<div *ngFor="#beehive of beehives">
	<input type="number" value="beehive.number">
	<p>{{beehive.location}}</p> <!-- gps coordinates etc. -->
	<input type="text" value="beehive.description">
	<p>{{beehive.source}}</p> <!-- dropdown -->
	<input type="date" value="beehive.startdate">
	<p>{{beehive.lost}}</p> <!--  Y/N + Reason -->
	<p>{{beehive.beutenform}}</p> <!-- dropdown -->
	<p>{{beehive.beutenmaterial}}</p> <!-- dropdown -->
	<p>{{beehive.wabenbau}}</p> <!-- dropdown -->
</div>