<h1>Your Beehives: </h1>
<div class="row">
	<div class="form-group form-inline">
		<form (ngSubmit)="search(searchForm)" #searchForm="ngForm" style="display: inline;">
			<input type="search" ngControl="query" placeholder="Search for BeeHives" class="form-control"/>
			<input type="submit" class="btn btn-default" class="form-control"/>
		</form>
		<button (click)="createBeeHive()" class="btn btn-default" class="form-control">Create New BeeHive</button>
	</div>
	<div class="col-sm-4" style="overflow: auto; height: 80%;">
		<viewbeehive *ngFor="#beehive of beehives" [beehive]="beehive"></viewbeehive>
	</div>
	<div id="map" class="col-sm-8"></div>
</div>