<div id="beeHiveContent">
	<div>
		<div>
			<input type="search" placeholder="Search for beehive" />
			<input type="submit" />
			<button (click)="createBeeHive()">Create New BeeHive</button>
		</div>
		<div *ngFor="#beehive of beehives">
			BeeHive <input type="number" [(ngModel)]="beehive.number" readonly>:
			Name: <input type="text" [(ngModel)]="beehive.location.name" readonly />
			
			<button (click)="editBeeHive(beehive.id)">Edit BeeHive</button>
			
			<label>Location:</label>
			Address: <input type="text" [(ngModel)]="beehive.location.address" readonly />
			Lat: <input type="text" [(ngModel)]="beehive.location.lat" readonly />
			Long: <input type="text" [(ngModel)]="beehive.location.long" readonly />
			
			Description: <input type="text" [(ngModel)]="beehive.description" readonly>
			
			Source:
			<select [(ngModel)]="beehive.source.type" disabled>
				<option *ngFor="#sourceType of sourceTypes" [value]="sourceType">
					{{sourceType}}
				</option>
			</select>
			<input *ngIf="beehive.source.type == 'Other'" type="text" [(ngModel)]="beehive.source.type" readonly />
			<input *ngIf="beehive.source.origin != 'undefined'" type="number" [(ngModel)]="beehive.source.origin" readonly />
			
			<input type="date" [(ngModel)]="beehive.startdate" readonly />
			
			Lost? <input type="checkbox" [(ngModel)]="beehive.lost.isLost" readonly />
			<div *ngIf="beehive.lost.isLost">
				<input type="text" [(ngModel)]="beehive.lost.reason" readonly>
			</div>
			
			Beutenform:
			<select [(ngModel)]="beehive.frameSize" disabled>
				<option *ngFor="#frameSize of frameSizes" [value]="frameSize">
					{{frameSize}}
				</option>
			</select>
			
			Beutenmaterial:
			<select [(ngModel)]="beehive.frameMaterial" disabled>
				<option *ngFor="#frameMaterial of frameMaterialEnum" [value]="frameMaterial">
					{{frameMaterial}}
				</option>
			</select>
			
			Wabenbau:
			<select  [(ngModel)]="beehive.combConstruction" disabled>
				<option *ngFor="#combConstruction of combConstrunctionEnum" [value]="combConstruction">
					{{combConstruction}}
				</option>
			</select>
		</div>
	</div>
</div>
<div id="map"></div>