<h1> Bienenstock </h1>
<div class="beehiveForm col-sm-4">
		<form (ngSubmit)="createNewBeeHive(createBeeHiveForm)" #createBeeHiveForm="ngForm">
			<div class="form-group">
				<label> Nummer: </label>
				<input type="number" ngControl="hiveNumber" placeholder="Nummer" class="form-control" />
			</div>
			
			<div class="form-group">
				<label> Name: </label>
				<input type="text" ngControl="hiveName" placeholder="Name" class="form-control" />
			</div>
			
			<div class="form-group">
				<label> Adresse: </label>
				<input type="text" ngControl="address" placeholder="Adresse" class="form-control" [(ngModel)]="location.address" />
				<label> Lat: </label>
				<input type="text" ngControl="lat" placeholder="Längengrad" class="form-control" [(ngModel)]="location.lat"/>
				<label> Lng: </label>
				<input type="text" ngControl="lng" placeholder="Breitengrad" class="form-control" [(ngModel)]="location.lng"/>
				<button (click)="callGetCoordinates()" class="btn btn-default">
					<span class="glyphicon glyphicon-map-marker" aria-hiden="true"></span>
				</button>
			</div>
			
			<div class="form-group">
				<label>Beschreibung: </label>
				<input type="text" ngControl="description" placeholder="Beschreibung" class="form-control">
			</div>
			
			<div class="form-group">
				<label> Quelle: </label>
				<select class="form-control" ngControl="type" [(ngModel)]="sourceTypeValue">
					<option *ngFor="#sourceType of sourceTypes" [value]="sourceType">
						{{sourceType}}
					</option>
				</select>
				<div *ngIf="sourceTypeValue == 'Other'">
					<label>Alternativer Quellentyp:</label>
					<input type="text" placeholder="Quellentyp" ngControl="sourceTypeOtherText" class="form-control"/><!-- case: free text -->
				</div>
				<label> Quellursprung: (Nicht verpflichtend)</label>
				<input type="number" placeholder="Source Origin" class="form-control" ngControl="origin" />
			</div>
			
			<div class="form-group">
				<label> Startdatum: </label>
				<input type="date" placeholder="Startdatum" ngControl="startDate" class="form-control" />
			</div>
			
			<div class="form-group">
				<label> Verlust? </label>
				<input type="checkbox" ngControl="isLost" [(ngModel)]="isLost" />
				<div *ngIf="isLost">
					<label> Verlustgrund: </label>
					<input type="text" placeholder="Grund" ngControl="reason" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label> FrameSize: </label>
				<select class="form-control" ngControl="frameSize">
					<option *ngFor="#frameSize of frameSizes" [value]="frameSize">
						{{frameSize}}
					</option>
				</select>
			</div>
			
			<div class="form-group">
				<label> FrameMaterial: </label>
				<select class="form-control" ngControl="frameMaterial">
					<option *ngFor="#frameMaterial of frameMaterials" [value]="frameMaterial">
						{{frameMaterial}}
					</option>
				</select>
			</div>
			
			<div class="form-group">
				<label> CombConstruction: </label>
				<select class="form-control" ngControl="combConstruction" class="form-control">
					<option *ngFor="#combConstruction of combConstructions" [value]="combConstruction">
						{{combConstruction}}
					</option>
				</select>
			</div>
			
			<input type="submit" class="btn btn-default" value="Create new BeeHive">
			
			<input type="button" (click)="cancel()" class="btn btn-default" value="Cancel"/>
		</form>
</div>
<map class="col-sm-8" [latitude]="48" [longitude]="13"></map>