<div id="editBeeHiveContent">
	<div>
		<input type="submit" />
		<div>
			BeeHive <input type="number" [(ngModel)]="beehive.number">:
			Name: <input type="text" [(ngModel)]="beehive.location.name" />
			
			Location:
			Address: <input type="text" [(ngModel)]="beehive.location.address" />
			Lat: <input type="text" [(ngModel)]="beehive.location.lat" />
			Long: <input type="text" [(ngModel)]="beehive.location.long" />
			<input type="button" (click)="callGetCoordinates()" value="Get GPS Position" />
			
			Description: <input type="text" [(ngModel)]="beehive.description">
			
			Source:
			<select [(ngModel)]="beehive.source">
				SourceTypes:
				<option *ngFor="#sourceType of sourceTypes" [value]="sourceType">
					{{sourceType}}
				</option>
			</select>
			
			<div *ngIf="beehive.source.type == 'other'">
				Other type: <input type="text" [(ngModel)]="beehive.source.otherType" /> <!-- case: free text -->
			</div>
			
			<div *ngIf="beehive.source.origin != 'undefined'">
				Origin: <input type="number" [(ngModel)]="beehive.source.origin" />
			</div>
			
			Startdate: <input type="date" [(ngModel)]="beehive.startdate" />
			
			Lost? <input type="checkbox" [(ngModel)]="beehive.lost.isLost" />
			<div *ngIf="beehive.lost.isLost">
				Reason: <input [(ngModel)]="beehive.lost.reason">
			</div>
			
			Beutenform:
			<select [(ngModel)]="beehive.frameSize">
				<option *ngFor="#frameSize of frameSizes" [value]="frameSize">
					{{frameSize}}
				</option>
			</select>
			
			Beutenmaterial:
			<select [(ngModel)]="beehive.frameMaterial">
				<option *ngFor="#frameMaterial of frameMaterialEnum" [value]="frameMaterial">
					{{frameMaterial}}
				</option>
			</select>
			
			Wabenbau:
			<select [(ngModel)]="beehive.combConstruction">
				<option *ngFor="#combConstruction of combConstructionEnum" [value]="combConstruction">
					{{combConstruction}}
				</option>
			</select>
		</div>
	</div>
</div>
<div id="map"></div>