<table class="table table-bordered" (click)="showDetails()">
	<tr>
		<th colspan="2" class="row">
			<div style="float: left;height:100%;" *ngIf="beehive?.photo != undefined" class="col-sm-4">
				<img [src]="beehive?.photo" class="img-responsive beehivePhoto" />
			</div>
			<div [class]="beehive?.photo != undefined ? 'photoHeader col-sm-8' : ''">
				<h2>Bienenstock {{beehive.hiveNumber}}</h2>
				<h5 style="display: inline;">
					<small>Für Details klicken</small>
				</h5>
				<button (click)="editBeeHive(beehive._id)" class="btn btn-default" style="float: right;">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</button>
				<button (click)="removeBeeHive(beehive._id)" class="btn btn-default" style="float: right;">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
		</th>
	</tr>
	<tr>
		<td>Name: </td>
		<td>{{beehive.hiveName}}</td>
	</tr>
	<tr>
		<td>Adresse: </td>
		<td>{{beehive.hiveLocation.address}}</td>
	</tr>
	<tr>
		<td>Letzter Tagebucheintrag: </td>
		<td></td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Breitengrad: </td>
		<td>{{beehive.hiveLocation.lat}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Längengrad: </td>
		<td>{{beehive.hiveLocation.lng}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Beschreibung: </td>
		<td>{{beehive.description}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Quelltyp: </td>
		<td>{{beehive.source.type}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Quellursprung: </td>
		<td>{{beehive.source.origin}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Startdatum:</td>
		<td>{{beehive.startDate}}</td>
	</tr>
	<tr *ngIf="beehive.lost.isLost && viewDetails" class="ng-animate box">
		<td>Verlust:</td>
		<td>{{beehive.lost.isLost}}</td>
	</tr>
	<tr *ngIf="beehive.lost.isLost && viewDetails" class="ng-animate box">
		<td>Grund:</td>
		<td>{{beehive.lost.reason}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Beutenform: </td>
		<td>{{beehive.frameSize}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Beutenmaterial: </td>
		<td>{{beehive.frameMaterial}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Wabenbau: </td>
		<td>{{beehive.combConstruction}}</td>
	</tr>
</table>