<table class="table table-bordered" (click)="showDetails()">
	<tr>
		<th colspan="2" class="row">
			<div style="float: left;height:100%;" *ngIf="beehive?.photo != undefined && beehive?.photo != null && beehive?.photo?.content != null" class="col-sm-4">
				<img [src]="beehive?.photo?.content" class="img-responsive beehivePhoto" />
			</div>
			<div [class]="(beehive?.photo != undefined && beehive?.photo != null && beehive?.photo?.content != null) ? 'photoHeader col-sm-8' : ''">
				<h3>Bienenstock {{beehive.hiveNumber}}</h3>
				<h5 style="display: inline;">
					<small>Für Details klicken</small>
				</h5>
				<button (click)="editBeeHive(beehive._id)" class="btn btn-default" style="float: right;">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</button>
				<button (click)="removeBeeHive(beehive._id)" class="btn btn-default" style="float: right;">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
		</th>
	</tr>
	<tr>
		<td>Name: </td>
		<td>{{beehive.hiveName}}</td>
	</tr>
	<tr>
		<td>Adresse: </td>
		<td>{{beehive.hiveLocation.address}}</td>
	</tr>
	<tr>
		<td>Letzter Tagebucheintrag: </td>
		<td></td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Breitengrad: </td>
		<td>{{beehive.hiveLocation.lat}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Längengrad: </td>
		<td>{{beehive.hiveLocation.lng}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Beschreibung: </td>
		<td>{{beehive.description}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Quelltyp: </td>
		<td *ngIf="beehive.source.type != 'Anderes' && beehive.source.type != 'Gekauft'">{{beehive.source.type}}</td>
		<td *ngIf="beehive.source.type == 'Anderes'">{{beehive.source.otherSource}}</td>
		<td *ngIf="beehive.source.type == 'Gekauft'">Gekauft von {{beehive.trader}}</td>
	</tr>
	<!--<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Quellursprung: </td>
		<td>{{beehive.source.origin}}</td>
	</tr>-->
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Startdatum:</td>
		<td>{{beehive.startDate}}</td>
	</tr>
	<tr *ngIf="beehive.lost.isLost && viewDetails" class="ng-animate box">
		<td>Verlust:</td>
		<td>{{beehive.lost.isLost}}</td>
	</tr>
	<tr *ngIf="beehive.lost.isLost && viewDetails" class="ng-animate box">
		<td>Grund:</td>
		<td>{{beehive.lost.reason}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Beutenform: </td>
		<td *ngIf="beehive.frameSize != 'Anderes'">{{beehive.frameSize}}</td>
		<td *ngIf="beehive.frameSize == 'Anderes'">{{beehive.otherFrameSize}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Beutenmaterial: </td>
		<td *ngIf="beehive.frameMaterial != 'Anderes'">{{beehive.frameMaterial}}</td>
		<td *ngIf="beehive.frameMaterial == 'Anderes'">{{beehive.otherFrameMaterial}}</td>
	</tr>
	<tr *ngIf="viewDetails" class="ng-animate box">
		<td>Wabenbau: </td>
		<td *ngIf="beehive.combConstruction != 'Anderes'">{{beehive.combConstruction}}</td>
		<td *ngIf="beehive.combConstruction == 'Anderes'">{{beehive.otherCombConstruction}}</td>
	</tr>
</table>