<h2>Tagebucheintrag: </h2>

<div class="form-group">
	<label>Datum:</label>
	<input type="date" [(ngModel)]="diaryentry.date" class="form-control" required/>
</div>

<!--<div class="form-group">
	<label>Bienenvolk auswählen:</label>
	<select [(ngModel)]="diaryentry.beeHiveId">
		<option *ngFor="hive of beehives[]" [value]="hive.id">
			{{hive.name}}
		</option>
	</select>
</div>-->

<div class="form-group">
	<label> Typen: </label>
	<select [(ngModel)]="diaryentry.type" class="form-control" required>
		<option *ngFor="#type of typeEnum" [value]="type">
			{{type}}
		</option>
	</select>
</div>

<!-- Case AcarianControl: -->
<div *ngIf="diaryentry.type == 'Milbenkontrolle'">
	<div class="form-group">
		<label>Anzahl an Tagen:</label> 
		<input type="number" [(ngModel)]="diaryentry.countDays" class="form-control"/>
		<label>Milbentodesfälle:</label> 
		<input type="number" [(ngModel)]="diaryentry.deadAcarians" class="form-control"/>
	</div>
</div>

<!-- Case Construction: -->
<div *ngIf="diaryentry.type == 'Errichtung'"></div>

<!-- Case Treatment: -->
<div *ngIf="diaryentry.type == 'Behandlung'">
	<div class="form-group">
		<label>Behandlungstypen:</label>
		<select [(ngModel)]="diaryentry.treatmentType" class="form-control">
			<option *ngFor="#treatmentType of treatmentTypes" [value]="treatmentType">
				{{treatmentType}}
			</option>
		</select>
		<label>Mittel:</label>
		<input type="text" [(ngModel)]="diaryentry.appliance" class="form-control"/>
		<label>Startdatum:</label>
		<input type="date" [(ngModel)]="diaryentry.treatmentBegin" class="form-control"/>
		<label>Enddatum:</label>
		<input type="date" [(ngModel)]="diaryentry.treatmentEnd" class="form-control"/>
	</div>
</div>

<!-- Case Feeding: -->
<div *ngIf="diaryentry.type == 'Fuetterung'">
	<div class="form-group">
		<label>Futtertypen:</label>
		<select [(ngModel)]="diaryentry.foodType" class="form-control">
			<option *ngFor="#feedingType of feedingTypes" [value]="feedingType">
				{{feedingType}}
			</option>
		</select>
		<label>Menge:</label>
		<input type="number" [(ngModel)]="diaryentry.amount" placeholder="[kg]" class="form-control" />
		<label>Verhältnis:</label>
		<input type="text" [(ngModel)]="diaryentry.proportion" class="form-control"/>
	</div>
</div>

<!-- Case HoneyRemoval: -->
<div *ngIf="diaryentry.type == 'Honigentnahme'">
	<div class="form-group">
		<label>Menge:</label>
		<input type="number" [(ngModel)]="diaryentry.amount" placeholder="[kg]" class="form-control" />
	</div>
</div>

<!-- Case Loss: -->
<div *ngIf="diaryentry.type == 'Verlust'">
	<div class="form-group">
		<label>Verlustgrund:</label>
		<input type="text" [(ngModel)]="diaryentry.reason" class="form-control"/>
	</div>
</div>		

<!-- Case cutDroneBrood: -->
<div *ngIf="diaryentry.type == 'Drohnenbrutausschnitt'"></div>

<!-- Case Other: -->
<div *ngIf="diaryentry.type == 'Anderes'">
	<label>Anderen Typ spezifizieren: </label>
	<input type="text" [(ngModel)]="diaryentry.otherText" class="form-control"/>
</div>

<div class="form-group">
	<label>Beschreibung:</label>
	<br />
	<label><a href="https://daringfireball.net/projects/markdown/" title="Ein Textformat, dass Formatierungen mittels gewisser Zeichen ermöglicht.">Markdownbearbeitung</a> aktivieren? </label>
	<input type="checkbox" [(ngModel)]="diaryentry.isMarkdownEnabled" />
	<textarea placeholder="Beschreibung" [(ngModel)]="diaryentry.description" class="form-control" rows="4" cols="20"></textarea>
	<div *ngIf="diaryentry.isMarkdownEnabled" [innerHTML]="parseMd()"></div>
</div>

<div class="form-group">
	<label>Fotos:</label>
	<table>
		<tr *ngFor="#photo of diaryentry.photos">
			<td>
				<img [src]="photo.content" class="img-responsive" />
			</td>
			<td>
				<button (click)="deletePhoto(photo, photos)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</table>
	<br />
	<label>Foto hochladen:</label>
	<input type="file" accept="image/*;capture=camera" multiple #photos (change)="handlePhotos(photos.files)"/>
</div>