<h1>Your Diary Entries: </h1>
<div class="row">
	<div class="form-group form-inline">
		<search [collection]="allDiaryEntries" [searchStrings]="elementsStrings" [name]="'DiaryEntries'" (OnSearchResult)="retrieveSearchResults($event)"></search>
		<button (click)="createDiaryEntry()" class="btn btn-default" class="form-control">Create New DiaryEntry</button>
	</div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#calendarEntries" aria-controls="CalendarEntries" role="tab" data-toggle="tab">Show entries for selected date</a>
		</li>
		<li>
			<a href="#groupedEntries" aria-controls="GroupedEntries" role="tab" data-toggle="tab">Show all entries grouped by date</a>
		</li>
		<li>
			<a href="#searchResults" aria-controls="SearchResults" role="tab" data-toggle="tab">Show search results</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="calendarEntries" class="tab-pane active" role="tabpanel">
			<div class="col-sm-8" id="diaryEntryContainer">
				<displaydiaryentry *ngFor="#diaryentry of diaryEntriesPerDate[selectedDate]" [diaryentry]="diaryentry" id="diaryEntryContent" class="col-sm-6"></displaydiaryentry>
			</div>
		</div>
		<div id="groupedEntries" class="tab-pane" role="tabpanel">
			<div *ngFor="#date of entryDates" [id]="date">
				<h1>
					{{date.toDateString()}}
				</h1>
				<div class="row">
					<displaydiaryentry *ngFor="#diaryentry of diaryEntriesPerDate[date.toDateString()]" [diaryentry]="diaryentry" id="diaryEntryContent" class="col-sm-4"></displaydiaryentry>
				</div>
			</div>
		</div>
		<div id="searchResults" class="tab-pane" role="tabpanel">
			<div class="row">
				<displaydiaryentry *ngFor="#diaryentry of diaryEntries" [diaryentry]="diaryentry" id="diaryEntryContent" class="col-sm-4"></displaydiaryentry>
			</div>
		</div>
	</div>
</div>


<!--<nav class="navbar navbar-default">
	<div class="navbar-header">
		<h1>{{date}}</h1>
	</div>
	
	[id]="'section' + date
	[href]="'#section' + date"
	
	*ngFor="#date of entryDates"
</nav>-->
<!--<nav class="navbar navbar-default" id="dateNav">
	<div class="navbar-brand">
		Entries per Date:
	</div>
</nav>-->

<!--
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>--><!-- /.container-fluid --><!--
</nav>
<div class="divide-nav">
  <div class="container">
    <p class="divide-text">Some Text Here</p>
  </div>
</div>
<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse collapse-buttons">
      <form class="navbar-form navbar-left" role="search">
        <button class="btn btn-success">Button</button>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default">Button</button>
      </form>
    </div>
  </div>
</nav>
</div>

<div class="container">
  <div class="row">
    <div class="filler">
		<div style="height: 200px;"></div>
		<div id="el" style="height: 50px; width: 50px;">Today</div>
		<div id="elel" style="height: 50px; width: 50px;">Tomorrow</div>
	</div>
  </div>-->