<h2>Tagebucheintrag: </h2>

<div class="form-group">
	<label>Datum:</label>
	<input type="date" [(ngModel)]="diaryentry.date" class="form-control" required/>
</div>

<div class="form-group">
	<label>Bienenvolk auswählen:</label>
	<select (change)="selectBeeHiveValue($event)" [(ngModel)]="diaryentry.beeHiveId">
		<option *ngFor="#hive of beehiveMap" [value]="hive._id">
			{{hive.hiveName}}
		</option>
	</select>
</div>

<div class="form-group">
	<label> Typen: </label>
	<select [(ngModel)]="diaryentry.type" class="form-control" required>
		<option *ngFor="#type of typeEnum" [value]="type">
			{{type}}
		</option>
	</select>
</div>

<div [ngSwitch]="diaryentry.type">
	<div *ngSwitchWhen="'Milbenkontrolle'">
		<div class="form-group">
			<label>Anzahl an Tagen:</label> 
			<input type="number" [(ngModel)]="diaryentry.countDays" class="form-control" min="0"/>
			<label>Milbentodesfälle:</label> 
			<input type="number" [(ngModel)]="diaryentry.deadAcarians" class="form-control" min="0"/>
		</div>
	</div>

	<div *ngSwitchWhen="'Errichtung'"></div>

	<div *ngSwitchWhen="'Behandlung'">
		<div class="form-group">
			<label>Behandlungstypen:</label>
			<select [(ngModel)]="diaryentry.treatmentType" class="form-control">
				<option *ngFor="#treatmentType of treatmentTypes" [value]="treatmentType">
					{{treatmentType}}
				</option>
			</select>
			<div *ngIf="diaryentry.treatmentType == 'Anderes'">
				<label>Anderen Behandlungstyp wählen:</label>
				<input type="text" [(ngModel)]="diaryentry.otherTreatment" class="form-control" />
			</div>
			<label>Mittel:</label>
			<input type="text" [(ngModel)]="diaryentry.appliance" class="form-control"/>
			<label>Startdatum:</label>
			<input type="date" [(ngModel)]="diaryentry.treatmentBegin" class="form-control"/>
			<label>Enddatum:</label>
			<input type="date" [(ngModel)]="diaryentry.treatmentEnd" class="form-control"/>
		</div>
	</div>

	<div *ngSwitchWhen="'Fuetterung'">
		<div class="form-group">
			<label>Futtertypen:</label>
			<select [(ngModel)]="diaryentry.foodType" class="form-control">
				<option *ngFor="#feedingType of feedingTypes" [value]="feedingType">
					{{feedingType}}
				</option>
			</select>
			<div *ngIf="diaryentry.foodType == 'Anderes'">
				<label>Anderen Futtertyp wählen:</label>
				<input type="text" [(ngModel)]="diaryentry.otherFood" class="form-control" />
			</div>
			<label>Menge:</label>
			<input type="number" [(ngModel)]="diaryentry.amount" placeholder="[kg]" class="form-control" min="0" step="0.01" />
			<label>Verhältnis:</label>
			<input type="text" [(ngModel)]="diaryentry.proportion" class="form-control"/>
		</div>
	</div>

	<div *ngSwitchWhen="'Honigentnahme'">
		<div class="form-group">
			<label>Menge:</label>
			<input type="number" [(ngModel)]="diaryentry.amount" placeholder="[kg]" class="form-control" min="0" step="0.01" />
		</div>
	</div>

	<div *ngSwitchWhen="'Verlust'">
		<div class="form-group">
			<label>Verlustgrund:</label>
			<input type="text" [(ngModel)]="diaryentry.reason" class="form-control"/>
		</div>
	</div>		

	<div *ngSwitchWhen="'Drohnenbrutausschnitt'"></div>
	
	<div *ngSwitchWhen="'Anderes'">
		<label>Anderen Typ wählen: </label>
		<input type="text" [(ngModel)]="diaryentry.otherType" class="form-control"/>
	</div>
</div>

<div class="form-group">
	<label>Allgemeines Empfinden:</label>
	<button (click)="toggleMood()" [class]="mood ? 'btn btn-default active' : 'btn btn-default'">
		<span class="glyphicon glyphicon-thumbs-up"></span>
	</button>
	<button (click)="toggleMood()" [class]="mood ? 'btn btn-default' : 'btn btn-default active'">
		<span class="glyphicon glyphicon-thumbs-down"></span>
	</button>
</div>

<div class="form-group">
	<label>Beschreibung:</label>
	<br />
	<label><a href="https://daringfireball.net/projects/markdown/" title="Ein Textformat, dass Formatierungen mittels gewisser Zeichen ermöglicht.">Markdownbearbeitung</a> aktivieren? </label>
	<input type="checkbox" [(ngModel)]="diaryentry.isMarkdownEnabled" />
	<textarea placeholder="Beschreibung" [(ngModel)]="diaryentry.description" class="form-control" rows="4" cols="20"></textarea>
	<div *ngIf="diaryentry.isMarkdownEnabled" [innerHTML]="parseMd()"></div>
</div>

<div class="form-group" style="width: 30%;">
	<label>Fotos:</label>
	<table>
		<tr *ngFor="#photo of diaryentry.photos">
			<td>
				<img [src]="photo.content" class="img-responsive" />
			</td>
			<td>
				<button (click)="deletePhoto(photo, photos)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</table>
	<br />
	<label>Foto hochladen:</label>
	<input type="file" accept="image/*;capture=camera" multiple #photos (change)="handlePhotos(photos.files)"/>
</div>