<table class="table table-bordered">
	<tr>
		<th colspan="2">Tagebucheintrag <button (click)="editDiaryEntry(diaryentry._id)" class="btn btn-default" style="float: right;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></th>
	</tr>
	<tr>
		<td>Type: </td>
		<td>{{diaryentry.type}}</td>
	</tr>
	<tr>
		<td>Date: </td>
		<td>{{diaryentry.date?.toDateString()}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Milbenkontrolle'">
		<td>Days Count:</td>
		<td>{{diaryentry.countDays}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Milbenkontrolle'">
		<td>Dead Acarians: </td>
		<td>{{diaryentry.deadAcarians}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Errichtung'">
		<td></td>
		<td></td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Behandlung'">
		<td>Treatment Type:</td>
		<td>{{diaryentry.treatmentType}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Behandlung'">
		<td>Appliance:</td>
		<td>{{diaryentry.appliance}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Behandlung'">
		<td>Start date:</td>
		<td>{{diaryentry.treatmentBegin?.toString()}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Behandlung'">
		<td>End date (Optional):</td>
		<td>{{diaryentry.treatmentEnd?.toString()}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Fuetterung'">
		<td>Feeding Type: </td>
		<td>{{diaryentry.feedingType}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Behandlung'">
		<td>Amount:</td>
		<td>{{diaryentry.amount}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Behandlung'">
		<td>Ratio:</td>
		<td>{{diaryentry.proportion}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Honigentnahme'">
		<td>Amount:</td>
		<td>{{diaryentry.amount}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Verlust'">
		<td>Reason:</td>
		<td>{{diaryentry.reason}}</td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Drohnenbrutausschnitt'">
		<td></td>
		<td></td>
	</tr>
	<tr *ngIf="diaryentry.type == 'Anderes'">
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="2"><div [innerHTML]="parseMd()"></div></td>
	</tr>
	<tr>
		<td colspan="2">
			Photos:
			<div class="row">
				<div *ngFor="#photo of diaryentry.photos">
					<img [src]="imageHeader + photo.content" class="img-responsive col-sm-4"/>
				</div>
			</div>
		</td>
	</tr>
</table>