<div id="editDiaryEntryContent">
	<div>
		<div class="form-group">
			<label> Types: </label>
			<select [(ngModel)]="diaryentry.type" class="form-control">
				<option *ngFor="#type of typeEnum" [value]="type"></option>
			</select>
		</div>

		<!-- Case AcarianControl: -->
		<div *ngIf="diaryentry.type == 'AcarianControl'">
			<div class="form-group">
				<label>CountDays:</label> 
				<input type="number" [(ngModel)]="diaryentry.countDays" class="form-control"/>
				<label>AcariansCaseOfDeath:</label> 
				<input type="number" [(ngModel)]="diaryentry.acariansCaseOfDeath" class="form-control"/>
				<label>CountDays:</label> 
				<input type="number" [(ngModel)]="diaryentry.countDays" readonly class="form-control"/>
				<label>Description:</label> 
				<input type="text"   [(ngModel)]="diaryentry.description" class="form-control"/>
			</div>
		</div>

		<!-- Case Construction: -->
		<div *ngIf="type == 'Construction'"></div>
		
		<!-- Case Treatment: -->
		<div *ngIf="diaryentry.type == 'Treatment'">
			<div class="form-group">
				<label>TreatmentTypes:</label>
				<select [(ngModel)]="diaryentry.treatmentType" class="form-control">
					<option *ngFor="#treatmentType of treatmentTypes" [value]="treatmentType"></option>
				</select>
				<label>Means:</label>
				<input type="text" [(ngModel)]="diaryentry.type.means" class="form-control"/>
				<label>Startdate:</label>
				<input type="date" [(ngModel)]="diaryentry.type.startdate" class="form-control"/>
				<label>Enddate:</label>
				<input type="date" [(ngModel)]="diaryentry.type.enddate" class="form-control"/>
			</div>
		</div>
		
		<!-- Case Feeding: -->
		<div *ngIf="diaryentry.type == 'Feeding'">
			<div class="form-group">
				<label>FeedingTypes:</label>
				<select [(ngModel)]="diaryentry.feedingType" class="form-control">
					<option *ngFor="#feedingType of feedingTypes" [value]="feedingType"></option>
				</select>
				<label>Amount:</label>
				<input type="number" [(ngModel)]="diaryentry.type.amount" placeholder="[kg]" class="form-control" />
				<label>Ratio:</label>
				<input type="text" [(ngModel)]="diaryentry.type.ratio" class="form-control"/>
			</div>
		</div>

		<!-- Case HoneyRemoval: -->
		<div *ngIf="diaryentry.type == 'HoneyRemoval'">
			<div class="form-group">
				<label>Amount:</label>
				<input type="number" [(ngModel)]="diaryentry.type.amount" placeholder="[kg]" class="form-control" />
			</div>
		</div>
		
		<!-- Case Loss: -->
		<div *ngIf="typeValue == 'Loss'">
			<div class="form-group">
				<label>Reason:</label>
				<input type="text" [(ngModel)]="diaryentry.type.reason" class="form-control"/>
			</div>
		</div>	
		
		<!-- Case CutDroneBreed: -->
		<div *ngIf="type == 'CutDroneBreed'"></div>
		
		<!-- Case Other: -->
		<div *ngIf="type == 'Other'"></div>
		
		<div class="form-group">
			<label>Date:</label>
			<input type="date" [(ngModel)]="diaryentry.date" class="form-control"/>
		</div>

		<div class="form-group">
			<label>Description:</label>
			<input type="description" placeholder="Description" [(ngModel)]="diaryentry.description" class="form-control" /> <!-- markdown -->
		</div>	
		
		<div class="form-group">
			<!-- Figure out photo upload -->
			<label>Photos:</label>
			<div *ngFor="#photo of diaryentry.photos"> <!-- No ngControl for this one -->
				<img src="photo.data" />
			</div>
			<br />
			<label>Upload Photo:</label>
			<input type="file"/>
		</div>

		<input type="submit" value="Update DiaryEntry" class="btn btn-default"/>
		
		<input type="button" (click)="cancel()" value="Cancel" class="btn btn-default"/>
	</div>	
</div>