html {
	height:100%;
	margin: 0; 
	padding: 0;
}
#map {
	height: 300px;
	width: 500px;
	float: right;
}
#beeHiveContent {
	display: inline;
	float: left;
}
#createBeeHiveContent {
	width: 600px;
	float: left;
}