/* Angular2 Animation */
.box {
  transition: all 0.2s ease-in-out;
}
.box.ng-enter {
  opacity: 0;
  height: 0;
}
.box.ng-enter-active {
  opacity: 1;
}
.box.ng-leave-active {
  opacity: 0;
  height: 0;
}